<div class="<%= yass(:items) %>" 
     data-headless--menu-target="items"
     data-headless--transition-target="listener"
     data-enter="<%= yass(transition: :enter ) %>"
     data-enter-from="<%= yass(transition: :enter_from ) %>"
     data-enter-to="<%= yass(transition: :enter_to ) %>"
     data-leave="<%= yass(transition: :leave ) %>"
     data-leave-from="<%= yass(transition: :leave_from ) %>"
     data-leave-to="<%= yass(transition: :leave_to ) %>">
     <% items.each do |item| %>
      <%= item %>
     <% end %>
</div> 