<div id="menu" 
     data-controller="headless--transition headless--menu" 
     data-headless--menu-open-at-start-value="<%= open %>"
     data-headless--menu-portal-value="<%= true %>"
     data-headless--menu-anchor-to-value="<%= anchor[:to] %>"
     data-headless--menu-headless--portal-outlet="#portal" 
     data-headless--menu-headless--transition-outlet="#menu" 
     data-headless--transition-headless--portal-outlet="#portal" 
     data-action="click@document->headless--menu#closeOnClickOutside transition:beforeenter->headless--menu#sendPortal transition:afterenter->headless--menu#menuOpened transition:afterleave->headless--menu#menuClosed headless--menu:leave->headless--transition#leave transition:afterleave->headless--menu#retrievePortal">
  <%= button %>
  <%= items %>
</div> 