<div class="<%= yass(:menu_items) %>" 
     data-headless--menu-target="items"
     data-transition="enter"
     data-enter="<%= yass(:menu_items, :transition, :enter) %>"
     data-enter-from="<%= yass(:menu_items, :transition, :enter_from) %>"
     data-enter-to="<%= yass(:menu_items, :transition, :enter_to) %>"
     data-leave="<%= yass(:menu_items, :transition, :leave) %>"
     data-leave-from="<%= yass(:menu_items, :transition, :leave_from) %>"
     data-leave-to="<%= yass(:menu_items, :transition, :leave_to) %>">
     <% items.each do |item| %>
      <%= item %>
     <% end %>
</div> 